body {
    background-color: #445566;
    color: #000;
}

 image {
    max-width: 100%;
}

.firstp {
	color: red;
}

.list, li {
	color: blue;
}

.about {
	background-color: #777;
	padding: 2%;
	text-align: center;
    margin: 5%;
    max-width: 100%;
    align-content: center;
}
.name { 
    width: 200px;
}
h2 {
    padding: 15px; 
    text-align: left;
    max-width: 100%;
}

h5 {
    color: #000000;
}

#exampleInputMessage {
    height: 80px;
    text-align: center;
}

#exampleInputEmail {
    height: 50px;
    text-align: center;
}


#exampleInputLastName {
    height: 50px;
    text-align: center;
}


#exampleInputFirstName {
    height: 50px;
    text-align: center;
}

#rock, #info{
    float: right;
}

footer {
    padding-top: 20px; 
    text-align: center;
    background: #777;
    height: 70px;
}